* {
    font-family: 'Courier New', Courier, monospace;
}

#search, img, #fetch-btn {
    padding: 5px;
    border: 1px solid gray;
    border-radius: 5px;
}

div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

#search {
    width: 300px;
    height: 30px;
}

#fetch-btn {
    font-size: 1rem;
    height: 30px;
    margin-bottom: 10px;
}

img {
    display: block;
    margin: auto;
}
